.body {
  width: 100%;
  position: relative;

  .header {
    width: 100%;
    background-color: #f93f23;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    .headerweb {

      display: flex;
      align-items: flex-start;

      // width: 100%;
      // height: 100%;
      .logo {
        display: flex;
        justify-content: center;

        img {
          width: 160px;
          margin-top: 7px;
          margin-right: 50px;
        }
      }

      .searchboxes {
        display: flex;
        // flex-direction: column;
        width: 800px;

        .mealnofilter {
          position: relative;
          display: flex;
          justify-content: flex-end;
          width: 100%;

          input {
            width: 75%;
            padding-left: 40px;
            border: none;
            font-family: "Renner", sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #333;
            font-size: 1.125rem;
            line-height: 2.75rem;
            height: 2.75rem;

            &:focus {
              outline: none;
            }
          }

          .searchicon {
            width: 26px;
            height: 26px;
            font-size: 24px;
            left: 11px;
            top: 11px;
            position: absolute;
            color: #333;
          }

          .searchBtn {
            width: 25%;
            background: none;
            font-family: "Renner", sans-serif;
            font-style: normal;
            font-weight: normal;
            color: #fff;
            font-size: .8125rem;
            font-weight: 600;
            line-height: 1.25rem;
            letter-spacing: 0.04em;
            height: 100%;
            background-color: #333;
            padding: 0;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 0 2px 2px 0;

          }

          .filterBtnBox {
            display: none;
            position: absolute;
            right: 203px;
            top: 4px;
            background-color: #555555;
            color: #ffffff;
          }

          .filterNotification {
            display: none;
            position: absolute;
            width: 28px;
            height: 28px;
            font-size: 14px;
            z-index: 10;
            // border: solid 1px black;
            background-color: white;
            color: red !important;
          }

        }
        // .selectedFilterDisplay{
        //   width: 100%;
        //   height: 100px;
        //   background-color: #ccc;
        // }
      }
    }

  }
}

.filterBox {
  width: 100%;
  background-color: #555555;
  height: 50px;
  display: flex;
  justify-content: center;

  .filterBtnGrp {
    display: flex;

  }

  .filterBtns {
    position: relative;
    text-transform: uppercase;
    height: 100%;
    color: white;
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    align-items: center;

    &:hover {
      background-color: white;
      color: #555555;
      cursor: pointer;
      .dropdown{
        visibility: visible;
        opacity: 1;
        // transition-delay: 0.2s;
      }
    }
    .dropdown{
      visibility: hidden;
      width: 180px;
      background-color: white;
      height: fit-content;
      position: absolute;
      top: 50px;
      transition: all 0.25s ease-in;
      z-index: 9999;
      left: 0;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s;
      .filtered_item{
        padding: 8px 4px 2px 5px;
      }
      .morefilterBtn{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          width: 90%;
          height: 40px;
          border-radius: 0;
          background-color: #f93f23;
          color: #ffffff !important;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .dropdownindex6{
      right: 0;
      left: unset !important;
    }


  }
}

.filterBoxDialog {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 100;

  .dialogContent {
    width: 100%;
    // min-height: 100%;
    overflow-y: scroll;
    padding: 0 20px;
    background-color: #eee;

    .headerDialog {
      display: flex;
      justify-content: space-between;
      color: #333;
      border-bottom: 0.25rem solid #ccc;
      align-items: center;
      padding: 1.3125rem 0 1.125rem;

      h3 {
        font-family: "Renner", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        text-transform: uppercase;
        margin: 0;
      }

      mat-icon {
        height: 30px;
        width: 30px;
        font-size: 26px;
      }
    }

    .filterOptionRepeatBox {
      padding: 28px 0 50px 0;
      border-bottom: 0.0625rem solid #ccc;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      position: relative;
      // overflow-y:hidden;

      .filterheadingname {
        font-family: "Renner", sans-serif;
        font-style: normal;
        font-weight: bold;
        width: 100%;
        color: #333;
        font-size: 21px;
        line-height: 1.3125rem;
        margin-bottom: 2.25rem;
        text-transform: uppercase;
      }

      .filter-item {
        width: 33.33%;
        margin-bottom: 8px;
      }
      .miniBoxSelected{
        border: 1px solid #333;
        padding: 8px 8px;
        display: flex;
        align-items: center;
        width: 28%;
        margin: 1%;
        justify-content: space-between;
      }

      .expandclickbtn {
        position: absolute;
        bottom: 9px;
        left: 24px;
        font-family: "Renner", sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #f93f23 !important;
        font-size: .8125rem;
      }
    }
  }
}
.selectedFilterShow{
  background-color: #f93f23;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .miniBoxStruct{
    width: 64%;
    margin-right: 9%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .miniBox{
      // height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 10px ;
      background-color: #333;
      margin: 5px;
      color: white;
      font-size: 15px;
      mat-icon{
        padding-left: 3px;
        cursor: pointer;
      }
    }
    .clear_all{
      color: #ffffff;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
.dropExpsndFullScreen{
  z-index: 99999;
  position: absolute;
  padding-top: 30px;
  width: 100%;
  height: calc(100vh - 140px);
  top: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  .filter_box{
    width: 80%;
    height: 100%;
    .filter_list{
      width: 17.625rem;
      height: 80%;
      display: flex;
      flex-flow: column wrap;
      .checkboxitem{
        width: 17.625rem;
        margin: 8px 0 8px 12px;
        // font-family: "Renner",sans-serif !important;
      }
    }
    .btn_grp{
      // font-weight: 600;
      .applyBtn{
        border-radius: 0;
        background-color: #333;
        color: #ffffff !important;
        width: 150px;
        height: 50px;
        margin: 14px 20px 0 24px;

      }
      .clsBtn{
        border-radius: 0;
        margin: 14px 20px 0 24px;

        border:1px solid #f93f23;
        color: #f93f23 !important;
        width: 150px;
        height: 50px;
      }
    }
  }
}

.Medium {
  .headerweb {
    .logo {
      img {
        width: 140px !important;
      }
    }

    .searchboxes {
      width: 600px !important;

      .filterBtnBox {
        // left: 362px !important;
        right: 154px !important;
      }

    }
  }
}

.Small {
  .headerweb {
    width: 80%;

    .logo {
      img {
        width: 120px !important;
      }
    }

    .searchboxes {
      width: 100% !important;

      .mealnofilter {
        input {
          width: 100% !important;
        }

        .searchBtn {
          display: none;
        }
        .filterNotification {
          display: block !important;
          top: -9px;
          right: -7px;

        }
      }

      .filterBtnBox {
        display: block !important;
        // left: 300px !important;
        right: 2px !important;
      }
    }
  }
  .selectedFilterShow{
    display: none !important;
  }
  .filterBox {
    display: none !important;
  }
}

.XSmall {
  .headerweb {
    flex-direction: column;
    align-items: center !important;
    width: 90%;

    .logo {
      margin: 12px;

      img {
        width: 100px !important;
        margin: 0 !important;
        // margin-bottom: 12px !important;
      }
    }

    .searchboxes {
      width: 100% !important;
      padding-bottom: 12px;

      .mealnofilter {
        input {
          width: 100% !important;
        }

        .searchBtn {
          display: none !important;
        }

        .filterNotification {
          display: block !important;
          top: -9px;
          right: -7px;

        }

      }

      .filterBtnBox {
        display: block !important;
        // left: 300px !important;
        right: 2px !important;
      }


    }
  }
  .selectedFilterShow{
    display: none !important;
  }
  .filterBox {
    display: none !important;
  }

  .filterBoxDialog {
    .headerDialog {
      h3 {
        font-size: 1.375rem !important;
      }
    }

    .filterOptionRepeatBox {
      .filterheadingname {
        font-size: 18px !important;
      }

      .filter-item {
        width: 50%;
        margin-bottom: 8px;
      }

      .expandclickbtn {
        position: absolute;
        bottom: 9px;
        left: 24px;
        font-family: "Renner", sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #f93f23 !important;
        font-size: .8125rem;
      }
    }
  }
}
::ng-deep{
  .mat-mdc-checkbox label {
    // font-size: 17px;
    // font-weight: 400;
}
}
