.header{
  top: 0;
  width: 100%;
  z-index: 9000;
  position: sticky;
}
.body{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  font-family: "Renner",sans-serif;;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181818;
  color: white;
  .matching_info{
    margin: 40px 20px 30px 90px;
    font-size: 18px;
    font-weight: 600;
    span{
      text-transform: italics;
    }
  }
  .cardContainer{
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: 1372px) {
      width: 1372px;
    }
    .wrapper{
      width: calc(33.33% - 30px);
      margin: 0 15px;
      margin-bottom: 50px;
      .recipe_card{
        transition: margin-bottom 0.3s;
        transform-origin: bottom;
         position: relative;
         .pointerTriangle{
          width: 50px;
          height: 50px;
          background-color:  rgb(54, 54, 54);
          position: absolute;
          left: 50%;
          // top: 120px;
          bottom: -80px;
          transform: translate(-50%,-50%);
          rotate: -45deg;
         }
      }
      .expand_card{
        position: absolute;
        display: flex;
        justify-content: center;
        transition: height 0.3s;
        transition: margin-top 0.3s;
        &.open{
          left: 0;
          right: 0;
          margin-top: -613px;
        }
        background-color:  rgb(54, 54, 54);

      }
      .display_expand{
        margin-bottom: 664px !important;
      }

    @media only screen and (min-width: 1372px) {
      app-card-expand{
        width: 1372px;
      }
    }
    }
  }
}
.Medium {
  .cardContainer{
    justify-content: center !important;
    .wrapper{
      width: calc(50% - 130px) !important;


    }
  }
}
.Small{
  .cardContainer{
    align-items: center !important;
    width:  100% !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    .wrapper{
      width: calc(100% - 50px) !important;
      margin-bottom: 30px;
      .loader_card{
        aspect-ratio: 139/36
      }
    }
  }
}
.XSmall{
  .cardContainer{
    align-items: center !important;
    width:  100% !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    .wrapper{
      width: calc(100% - 20px) !important;
      margin-bottom: 30px;
      .loader_card{
        aspect-ratio: 85/28 !important;
      }
    }
  }
}
.loader{
  width: 100%;
  margin-top: 30px;
  .loader_card{
    width: 100%;
    aspect-ratio: 161/191;
    display: block;
    overflow: hidden;
    position: relative;

  }


  .loader_card::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%);
    background-size: 1200px 100%;
    animation: shimmer 01s linear infinite;
  }

}
@keyframes shimmer {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}
