<div class="instruction_wrapper {{screenSize}}">
  <div class="ingredients" *ngIf="Ingredients && Ingredients.length > 0">
    <h2 class="heading">Ingredients</h2>
    <ul class="sub_ingredients">
      <ng-container *ngFor="let SubIngredient of Ingredients">
        <li class="subingredient-list-item">
          <div *ngIf="SubIngredient.name" class="head">For {{SubIngredient.name}}</div>
          <ul *ngFor="let ingredient of SubIngredient.components">
            <li class="single-ingredient"> {{ingredient.raw_text}}</li>
          </ul>
        </li>

      </ng-container>
    </ul>
  </div>
  <div class="preparation" *ngIf="Instruction && Instruction.length > 0">
    <div class="heading">
      Preparation
    </div>
    <ng-container *ngFor="let instruction of Instruction ; let i = index">
      <div class="method"><span class="index">{{i + 1}}. </span>{{instruction.display_text}}</div>
    </ng-container>
  </div>
</div>
