<div #recipeCard id="recipeCard" (click)="viewRecipe()" class="card {{currentScreen}}" [class.detailsExpanded]="passedData.is_quick_view_opened">
  <div class="thumbNail" >
    <!-- [style.background-image]="'url(' + passedData?.thumbnail_url + ')'" -->
    <img class="thumb_nail_img" [src]="passedData?.thumbnail_url">
  </div>
  <div class="recipe_details">
    <div class="author">
      <div class="left">{{passedData.response_type}}</div>
      <div *ngIf="passedData?.credits[0].name" class="right"> From {{passedData?.credits[0].name}}</div>
      <div *ngIf="!passedData?.credits[0].name" class="right">By Anonymous</div>
    </div>
    <div class="recipeName">
      {{passedData.name | titlecase}}
    </div>
    <div class="timer" *ngIf="passedData?.cook_time_minutes">
      <mat-icon>timer</mat-icon> {{passedData?.cook_time_minutes}} mins
    </div>
  </div>
  <div class="card_hover_background" *ngIf="passedData?.expand_open_allowed">

  </div>
  <div class="btnGrp" *ngIf="passedData?.expand_open_allowed">
    <button class="quick_view_btn" (click)="openQuickView($event,passedData.id)" mat-button>quick view</button>
    <!-- <div class="compare_view"><mat-icon>add_circle_outline</mat-icon>compare recipe</div> -->
  </div>

</div>
